body {
    background:black;
}
.nav-index {
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    flex-wrap:nowrap;
    align-items:center;
    background-color:#000000;
    color:white;
}
.nav-index-1 {
    list-style-type:none;
    margin:0 auto;
    border:2px solid black;
    padding:5px;
    text-transform:uppercase;
    background-color:black;
    color:white;
}
.nav-index-1:hover
{
    background-color:lightyellow;
}
h1 {
    font-weight:bold;
    text-align:center;
}
.whitetexth1 {
    color:white;
}
.whitetext {
    color:white;
    font-display:swap;
    font-family:'Anek Devanagari';
    font-style:normal;
    font-weight:400;
    src:url('fonts/anek-devanagari-v8-latin-regular.woff2') format('woff2');
}
.backgroundwhite {
    color:white
    margin:0 auto;
    padding:0;
}